/****** Header *********/
nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
}

.links {
    display: flex;
    height: 50px;
    align-items: flex-end;
    padding-bottom: 20px;
    gap: 70px;
}

nav img {
    height: 25px;
    padding-top: 20px;
}

.links a:hover {
    color: var(--main-color);
    border-top: 3px solid var(--main-color);
    padding-top: 35px;
}

/****Search and Filters Section******/
.search-and-filters {
    padding: 10px;
}

.search-and-filters i {
    color: var(--main-color);
}

/****** Search bar ******/
.search-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin: 25px 0 15px 0;
    height: 49px;
}

.location-logo {
    background-color: var(--main-bg-color);
    padding: 10px 15px;
    border-radius: 10px 0 0 10px;
    border: solid #f2f2f2 2px;
}

.location-logo i {
    color: #000000;
}

.search-bar input {
    width: 17%;
    min-width: 150px;
    padding: 10px;
    border: solid var(--main-bg-color) 1px;
    outline: none;
    font-size: 17px;
    font-weight: bold;
}

/***loupe***/
.magnifing-glass-logo i {
    color: #ffffff;
    display: none;
}

.search-bar ::placeholder {
    color: black;
    opacity: 1;
}

.search-bar button {
    background-color: var(--main-color);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    outline: none;
    border: solid var(--main-color) 1px;
    font-size: 17px;
    font-weight: bold;
}

/****** Filters **********/
.filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.button-content {
    font-size: 17px;
    font-weight: bold;
}

.buttons {
    display: flex;
    width: 100%;
    gap: 3%;
}

.filters button {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
    background-color: #ffffff;
    border: solid var(--main-bg-color) 3px;
    height: 50px;
}

.filters button:hover {
    background-color: var(--filter-bg-color);
}

/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container,
footer {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    background-color: var(--main-bg-color);
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 30%;
    box-sizing: border-box;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-more {
    margin-bottom: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******** Activités ******/
.activites {
    padding: 30px;
    box-sizing: border-box;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 33px;
    width: 23%;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-title {
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

/****** Footer *******/
footer {
    display: flex;
    padding-left: 20px;
    background-color: var(--main-bg-color);
    gap: 20%;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /****** Filters **********/
    .filters {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    /***** Hebergements and Populaires ******/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .card-title {
        font-size: 14px;
    }

    .card-subtitle {
        font-size: 13px;
    }

    /******** Activités ******/
    .activites-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    /***** Header *****/
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .links {
        width: 100%;
        align-items: center;
        padding-bottom: 0;
    }

    .links a {
        width: 50%;
        text-align: center;
    }

    .links a:hover {
        border-bottom: 3px solid var(--main-color);
        padding-bottom: 32px;
        border-top: none;
    }

    /****** Search bar *****/
    .search-bar {
        justify-content: center;
    }

    .magnifing-glass-logo i {
        display: inline;
    }

    .search-bar button {
        background-color: var(--main-color);
        border-radius: 10px;
    }

    .search-text {
        display: none;
    }

    /***** Filters *****/
    .buttons {
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 130px;
    }

    .filters button {
        flex-basis: 48%;
        max-width: 235px;
        padding: 0;
        justify-content: center;
    }

    /***** Hebergements and populaires ****/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements {
        background-color: #ffffff;
    }

    .hebergements-cards .card {
        width: 100%;
    }

    /******* Activités ******/
    .activites-cards {
        flex-direction: column;
    }

    .activites-cards .card {
        width: 100%;
    }

    /******* Footer *****/
    footer {
        flex-direction: column;
    }
}
